{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 1 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-inline-environment-variables"
  ]
}
